pylance
pandas
scipy
scikit-learn
matplotlib
seaborn
lightgbm
xgboost
catboost
plotly
missingno
hyperopt
bayesian-optimization
pydantic
implicit
scikit-surprise
numpy==1.26.4
annoy
nmslib
faiss-cpu
sqlalchemy
psycopg2
fastapi
uvicorn
pyyaml
joblib
singleton-decorator
pytest
pytest-asyncio
httpx
